/* You can add global styles to this file, and also import other style files */

html,
body {
    color: white;
    background: black;
    font-family: 'Raleway', sans-serif;
}

.navbar {
    max-width: 890px;
    margin: auto;
    background: black;
}

.navbar * {
    color: #A3A3A3;
}

.navbar .nav-link:hover,
.navbar .navbar-brand:hover {
    color: white;
}

.card-title,
.card-text {
    color: black;
}

.container {
    max-width: 890px;
}